/* ====== Start Global Rules ======*/

* {
  box-sizing: border-box;
}

/* CSS Variables */

:root {
  --white: #fff;
}

body {
  font-size: 1.2rem;
  line-height: 1.4;
}
/* ====== End Global Rules ======*/

/* ====== Start Header ======*/

.header {
  background: url("/images/header1.jpg") no-repeat top center/cover;
  min-height: 400px;
  position: relative;
}

.header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--white);
  background-color: rgba(0, 168, 255, 0.5);
}

.header .overlay h1 {
  font-size: 60px;
  margin-top: 30px;
}

.header .overlay .plan {
  font-size: 24px;
  width: 48%;
  padding: 20px;
  border: 4px solid var(--white);
  margin-right: 1%;
  margin-left: 1%;
}

.header .overlay .order {
  font-size: 24px;
  padding: 20px;
  margin: 1% 1%;
  border: 4px solid var(--white);
}

/* Header Media Queries */
/* Small Screen Rules (If the screen size is 677px or smaller ) */

@media (max-width: 767px) {
  .header .overlay .plan {
    float: none;
    margin: 0 auto 20px;
  }

  .hidden-xm {
    display: none !important;
  }
}

/* ====== End Header ======*/

/* ====== Start features Section ======*/

.features .featBox {
  width: 31%;
  border: 1px solid;
  margin: 1%;
  padding: 1%;
}
/* ====== Start features Section ======*/

/* ====== Start Media Queries(Add a Breakpoint) ======*/

/*====== Small Screen Rules (If the screen size is 677px or smaller ) ======*/

@media (max-width: 767px) {
}

/*======  Mobile and tablet Rules (If the screen size is  678px or larger ) ======*/

@media (min-width: 768px) and (max-width: 991px) {
  .conatiner {
    width: 750px;
  }
}

/*======  Medium Screen Rules (If the screen size is  992px or larger ) ======*/

@media (min-width: 992px) and (max-width: 1199px) {
  .conatiner {
    width: 970px;
  }
}

/*======  Large Screen Rules (If the screen size is 1200px or larger ) ======*/

@media (min-width: 1200px) {
  .conatiner {
    width: 1170px;
  }
}

/* ====== End Media Queries ======*/

/* ====== Start My FrameWork ======*/

.conatiner {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.text-center {
  text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.visible-xs,
.visible-xm,
.visible-md,
.visible-lg {
  display: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
/* ====== End My FrameWork ======*/
