/* ====== Start Global Rules ======*/

* {
  box-sizing: border-box;
}

/* CSS Variables */

:root {
  --white: #fff;
}

/* ====== End Global Rules ======*/

/* ====== Start Header ======*/

.header {
  background: url("/images/header1.jpg") no-repeat top center/cover;
  min-height: 500px;
  position: relative;
}

.header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--white);
  background-color: rgba(0, 168, 255, 0.5);
}

.header .overlay h1 {
  font-size: 50px;
  margin-top: 100px;
}

.header .overlay .plan {
  border: 1px solid var(--white);
  font-size: 24px;
  width: 50%;
  float: left;
  padding: 20px;
}

/* Header Media Queries */
/* Small Screen Rules (If the screen size is 677px or smaller ) */

@media (max-width: 767px) {
  .header .overlay .plan {
    float: none;
    margin: 0 auto 20px;
  }
}

/* ====== End Header ======*/

/* ====== Start My FrameWork ======*/

.text-center {
  text-align: center;
}

/* ====== End My FrameWork ======*/

/* ====== Start Media Queries(Add a Breakpoint) ======*/

/*====== Small Screen Rules (If the screen size is 677px or smaller ) ======*/

@media (max-width: 677px) {
  p {
  }
}

/*======  Moblie and tablet Rules (If the screen size is  678px or larger ) ======*/

@media (min-width: 678px) {
  p {
  }
}

/*======  Medium Screen Rules (If the screen size is  992px or larger ) ======*/

@media (min-width: 992px) {
  p {
  }
}

/*======  Large Screen Rules (If the screen size is  1200px or larger ) ======*/

@media (min-width: 1200px) {
}

/* ====== End Media Queries ======*/
